/* 기본 폰트 설정 */
body {
    font-family: 'Noto Sans', sans-serif;
}

/* 네비게이션 바 스타일 */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    height: 70px; /* 네비게이션 바 높이 */
}

.logo-container img {
    height: 60px;
    width: auto;
    cursor: pointer; /* 클릭 가능 커서 */
}

/* 메인 배너 스타일 */
.main-banner {
    position: relative;
    height: calc(100vh - 40px); /* 네비게이션 바 높이를 뺀 화면 전체 */
    overflow: hidden;
    background-color: #f9f9f9; /* 기본 배경색 */
}

.image-container img {
    width: 70%;
    height: auto;
    object-fit: cover;
}

.content-container {
    position: relative;
    top: 20px; /* 네비게이션 바 아래로 배치 */
    margin-top: 40px; /* 추가 간격 */
    text-align: center;
    animation: fadeInUp 1.5s ease-out forwards; /* 애니메이션 */
    opacity: 0; /* 초기 상태 */
}

.banner-title {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    margin-bottom: 1rem;
    color: #ffffff;
}

.banner-subtitle {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
    color: #ffffff;
}

/* 버튼 스타일 */
#simulation-btn {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
}


/* 애니메이션 */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
/* content-container에 애니메이션 적용 */
.content-container {
    position: absolute;
    top: 60%; /* 부모 요소 기준으로 더 아래 정렬 */
    left: 50%;
    transform: translate(-50%, -50%); /* 중앙 정렬 */
    text-align: center;
    animation: fadeInUp 1.5s ease-out forwards; /* 애니메이션 실행 */
    opacity: 0; /* 초기 상태 숨김 */
}

/* 개별 딜레이 설정 */
.content-container h1,p, simulation-btn {
    animation-delay: 0.6s;
}



